Django>=4.2,<5.0
djangorestframework>=3.14
whitenoise>=6.0
gunicorn>=21.0
psycopg2-binary==2.9.9
dj-database-url==2.1.0
django-environ>=0.11
Pillow>=10.0
django-jazzmin>=2.6
pytest>=8.0
pytest-django>=4.8
